h1 {
    color: red;
}
#cod{
    display: flex;
    justify-content: center;
}

.slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slider-track{
    display: flex;
    animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    width: calc(100px * 46);
}

.slider .slide {
    display: flex;
}

.slider .slide img {
    width: 100%;
    height: 75%;
    display: flex;
    margin: 10px 50px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: trasnlate(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100px * 23));
        transform: translateX(calc(-100px * 23));
    }
}

